html {
  font-family: 'Spartan', sans-serif;
}

header {
  background-color: #e2e2e2;
}

header a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-family: 'Bellota Text', cursive;
}

.nav li {
  display: inline-block;
}

.nav a,
footer a {
  color: #000;
  text-decoration: none;
}

.nav a {
  padding: .5rem 1rem;
}

.nav a:hover {
  background-color: #000;
  color: #fff;
}

.nav .current {
  color: #fff;
  background-color: #000;
}

.builder,
.testimonial {
  background-color: #e2e2e2;
}

footer {
  background-color: #c4c4c4;
}

footer img {
  max-width: 2rem;
}

section input {
  max-width: 20rem;
}
